{% extends "templates/base.twig" %}
{% extends "templates/navbar.twig" %}

{% block title %}Feed{% endblock %}

{% block body %}
    {% for post in posts %}
        <section class="photo">
            <header class="photo-header">
                <div class="photo-header-column">
                    <img class="photo-avatar" src="{{user.profilePicture}}" />
                </div>
                <div class="photo-header-column">
                    <span class="photo-username">{{user.username}}</span>
                </div>
            </header>
            <div class="photo-file-container">
                <img class="photo-file" src="{{post.image}}" />
            </div>
            {% for comment in comments %}
              <header class="comment-header">
                <div class="comment-header-column">
                    <span class="comment-username">{{comment.username}}"</span>
                </div>
                <div class="comment-header-column">
                    <span class="comment-commentNote">{{comment.commentNote}}</span>
                </div>
              </header>
            {% endfor %}
        </section>
    {% endfor %}
{% endblock %}

{% include("templates/footer.twig") %}
