{% extends "templates/base.twig" %}

{% block title %}Feed{% endblock %}

{% block body %}
{% include("templates/navbar.twig") %}

<center>
    {% for post in posts %}
        <section class="photo">
            <header class="photo-header">
                <div class="photo-header-column">
                    <span class="photo-username">{{post.username}}</span>
                </div>
            </header>
            <div class="photo-file-container">
                <img class="photo-file" src="{{post.imagePath}}" />
            </div>
            <div class="photo-info" style="text-align:left;">
                    <div class="photo-icons">
                    <span class="photo-icon">
                        <i class="fa fa-heart-o heart fa-lg like_icon" value={{post.id}} id="like"></i>
                    </span>
                    <br><br>
                    {% if caption|length >0 %}
                        <span class="photo-comment-author">{{post.username}}</span>{{post.caption}}<br><br>
                    {% endif %}
                    <span class="photo-likes">{{post.likes}} Likes</span>
                    </div>
                    <ul class="photo-comments">
                        {% for comment in comments %}
                            {% if comment.postId == post.id %}
                                <li class="photo-comment">
                                    <span class="photo-comment-author">{{comment.username}}</span>{{comment.commentNote}}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <span class="photo-add-comment-container" method="post">
                        <input id="comment-{{post.id}}" name="commentNote" placeholder="Add a comment..." class="photo-add-comment" type="text" required>
                        <button type="submit" id="{{post.id}}" class="btn btn-success"><span class="fa fa-comment-o fa-lg"></span></button>
                    </span>
            </div>
        </section>
    {% endfor %}

<h1> Hello!!!! </h1>
</center>
 <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
$('.photo-add-comment-container .btn').click(function (event) {
  event.preventDefault();
  var formNode = $(this).parent();
  console.log(formNode.serializeArray());
  // get the form data
   var formData = {
     'commentNote': $('input[name=commentNote]').val(),
     'postId': $('input[name=postId]').val(),
   };
  $.ajax({
    type: 'post',
    url: '/addComment',
    data: formData,
    success: function (response) {
      document.location.reload(true)
    }
  });
});
</script>
{% endblock %}

