{% extends "templates/base.twig" %}

{% block title %}Feed{% endblock %}

{% block body %}
{% include("templates/navbar.twig") %}

    {% for post in posts %}
        <section class="photo">
            <header class="photo-header">
                <div class="photo-header-column">
                    <span class="photo-username">{{user.username}}</span>
                </div>
            </header>
            <div class="photo-file-container">
                <img class="photo-file" src="{{post.image}}" />
            </div>
            <div class="photo-info">
                    <div class="photo-icons">
                        <span class="photo-icon" id="like" value={{post.id}}>
                        <a href="/post/{{ post.id }}">{{ post.caption }}</a>
                            <i class="fa fa-heart-o heart fa-lg"></i>
                        </span>
                        <span class="photo-icon">
                            <i class="fa fa-comment-o fa-lg"></i>
                        </span>
                    </div>
                    <span class="photo-likes">{{post.likes}}</span>
                    <ul class="photo-comments">
                        {% for comment in comments %}
                            <li class="photo-comment">
                                <span class="photo-comment-author">{{comment.username}}</span>
                                <span class="photo-comment-note">{{comment.commentNote}}</span>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="photo-add-comment-container">
                        <textarea placeholder="Add a comment..." class="photo-add-comment"></textarea>
                        <i class="fa fa-ellipsis-h"></i>
                    </div>
            </div>
        </section>
    {% endfor %}

<h1> Hello!!!! </h1>

{% endblock %}

