{% extends "templates/base.twig" %}

{% block title %}Post view - {{ post.id }}{% endblock %}

{% block body %}
{% if posts|length > 0 %}
    <ul>
        {% for post in posts %}
            <li>
              {{ post.image|e }}
              <h1>{{ post.user }}{{ post.caption }}</h1>
              {% for comment in comments where postID == post.id %}
                <li>{{ comment.user }}{{ comment.comm }}</li>
              {% endfor %}
        {% endfor %}
        <h1>Hello World!</h1>
    </ul>
{% endif %}
{% endblock %}
